
<button [disabled]="" (click)="showAddMediaModal()" class="btn btn-primary">Add</button>

<button [disabled]="" (click)="removeCurrentMedia()" class="btn btn-primary">Remove current</button>

<carousel [(activeSlide)]="activeSlideIndex">
  <slide *ngFor="let item of mediaData">
    <img *ngIf="item.ContentType === 'Image'"  [src]="item.Url" />
    <iframe *ngIf="item.ContentType === 'Video'"
            width="854" height="480"
            frameborder="0" allowfullscreen
            [src]="item.Url | safe" ></iframe>

  </slide>
</carousel>
